@import './../../assets/scss/mixin.scss';

.main-container {
  max-width: 1920px;
  padding: 20px 1px 20px 1px;
  margin: auto;

  @include breakpoint( 'mobile-portrait' ) {
    max-width: 500px;
  }


  .content {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    @include breakpoint('mobile-portrait') {
      padding: 5px;
    }
  }

}
